body {
  font-family: sans-serif;
}
.app-header {
  border-bottom: 2px solid;
  height: 80px;
}

.header-c-left > * {
  float: left;
}
.header-c-left h3 {
  margin-left: 10px;
}
.header-c-right {
  float: right;
}
.header-c-right > div {
  float: right;
  margin: 10px;
  font-family: sans-serif;
  font-size: 125%;
}
.app-body {
  display: flex;
  width: 100%;
}
.sidebar {
  flex-basis: 30%;
}
.main-wrapper {
  flex-basis: 70%;
}
#products {
  display: flex;
}
#products .img-wrapper {
  width: 30%;
  margin: 1px;
}
#products img {
  width: 100%;
  height: auto;
}

#products {
  
  border: 1px solid red;
}

#footer {
  width: 100%;
  border: 2px solid;
  margin-top: 50px;
  text-align: center;
}
/*
UTILITIES
*/
a {
  text-decoration: none;
  padding: 5px;
  color: black;
}
a:hover {
  color: black;
  border-bottom: 2px solid;
}
.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.hidden {
    display: none;
}
